<%= content_tag_for :li, link do %>
  <%= link_to "Upvote", [link, :upvote], method: :post %>
  <div data-role="score"><%= formatted_score_for(link.score) %></div>
  <%= link_to "Downvote", [link, :downvote], method: :post %>

  <%= render link %>
<% end %>
