<%= form_for @link do |form| %>
  <%= render "error_messages", target: @link %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <%= form.submit "Submit!" %>
<% end %>
